Source: ros-kilted-moveit-visual-tools
Section: misc
Priority: optional
Maintainer: Dave Coleman <dave@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-geometry-msgs, ros-kilted-graph-msgs, ros-kilted-moveit-common, ros-kilted-moveit-core, ros-kilted-moveit-ros-planning, ros-kilted-rclcpp, ros-kilted-rviz-visual-tools, ros-kilted-std-msgs, ros-kilted-tf2-eigen, ros-kilted-tf2-ros, ros-kilted-trajectory-msgs, ros-kilted-visualization-msgs, ros-kilted-ros-workspace
Homepage: https://github.com/ros-planning/moveit_visual_tools
Standards-Version: 3.9.2

Package: ros-kilted-moveit-visual-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-geometry-msgs, ros-kilted-graph-msgs, ros-kilted-moveit-common, ros-kilted-moveit-core, ros-kilted-moveit-ros-planning, ros-kilted-rclcpp, ros-kilted-rviz-visual-tools, ros-kilted-std-msgs, ros-kilted-tf2-eigen, ros-kilted-tf2-ros, ros-kilted-trajectory-msgs, ros-kilted-visualization-msgs, ros-kilted-ros-workspace
Description: Helper functions for displaying and debugging MoveIt data in Rviz via published markers
